### Step 1: Scrape eBay Motors Listings ###
*scrapy crawl ebay_motors2 -o 'cars.csv'*

### Step 2: Parse Category/Value list into Columns

In [2]:
import csv
import pandas as pd
import numpy as np
import datetime

# Change filepath to scrapy output file location
df = pd.read_csv('cars.csv')

# Filter duplicates
df = df.drop_duplicates()

# Fill zeroes for num_bids in non-auction listings
df.num_bids.fillna(0,inplace=True)
df.num_bids = pd.to_numeric(df.num_bids,errors='coerce')

df.head(1)

,title,subtitle,winningbid,buy_it_now_price,num_bids,url,catsvals
0,2015 Fiat 500 Pop,2015 fiat 500 pop only 39500 miles automatic r...,NaN,"US $6,900.00",0.0,http://www.ebay.com/itm/2015-Fiat-500-Pop-/282...,",Condition:,,,Used,,Year:,,,2015,,,VIN (Vehicl..."

In [3]:
# Parse categories/values (catsvals) column into list
df.catsvals = df.catsvals.astype(str)
df.catsvals = [cat.split(',') for cat in df.catsvals]

# Remove blank list entries from cats/vals column
catsvals = []
for index,row in df.iterrows():
    catval = [x for x in df.catsvals[index] if len(x)>0 and x !='“' and x!='”']
    catsvals.append(catval)
df.catsvals = catsvals

# Concatenate mileage numbers parsed by comma above
catsvals = []
for lst in df.catsvals:
    if 'Mileage:' in lst:
        mileage = lst.index('Mileage:')
        a = lst[:mileage+1] # list before mileage numbers
        
        b = ''
        
        for n in range(1,4):
            if lst[mileage+n].isdigit():
                b = b+(lst[mileage+n])
            
        b = [lst[mileage+1]+lst[mileage+2]]
        c = lst[mileage+3:] # list after mileage numbers

        abc = a + b + c

        catsvals.append(abc)
    else:
        catsvals.append(lst)
        
df.catsvals = catsvals
df.head(1)

,title,subtitle,winningbid,buy_it_now_price,num_bids,url,catsvals
0,2015 Fiat 500 Pop,2015 fiat 500 pop only 39500 miles automatic r...,NaN,"US $6,900.00",0.0,http://www.ebay.com/itm/2015-Fiat-500-Pop-/282...,"[Condition:, Used, Year:, 2015, VIN (Vehicle I..."

In [4]:
# Delete values with leading spaces (this is for options fields which need to be sublists)
catsvals = []
for lst in df.catsvals:
    clean = [obj for obj in lst if not obj.startswith(' ')]
    catsvals.append(clean)
    
df.catsvals = catsvals
df.shape

(32518, 7)

In [5]:
def catvalsplit(index):
    cats = df.catsvals[index][::2]
    vals = df.catsvals[index][1::2]

    return [cats, vals]

In [6]:
# Split categories and values out into separate columns
cats = []
vals = []
for index,row in df.iterrows():
    cat, val = catvalsplit(index)
    
    cats.append(cat)
    vals.append(val)

df['cats'] = cats
df['vals'] = vals

# Add count columns to ensure category and value fields line up properly for each listing
catcount = []
valcount = []
for index,row in df.iterrows():
    cat = len(df.cats[index])
    val = len(df.vals[index])
    
    catcount.append(cat)
    valcount.append(val)

df['catcount'] = catcount
df['valcount'] = valcount

df.shape

(32518, 11)

In [7]:
# Rename dataframe 'cars' and filter out records with different cat/val counts
'''
Note: this filtering step is only necessary because the original scrapy script 
I wrote pulled categories and values in a single list. Because information and
detail categories on eBay Motors are mostly optional, there are different 
numbers of completed categories, in a different order, for each scraped listing
depending on user input. This led to more data cleaning and less useable data.

I am working on a smarter scrapy script to pull only the pertinent categories
now that I have more experience writing spiders for projects #4 and #5 (Beer
Recommender and Itinerary Planner), and after seeing which categories are most
important in a regression-based price model.
'''

cars = df[df['catcount']==df['valcount']]
cars = cars.reset_index(drop=True)

# Add auction (categorical) and formatted price columns
auction = []
for i in cars.winningbid: 
    if isinstance(i,str):
        auction.append(1)
    else:
        auction.append(0)
cols = ['auction']
df1 = pd.DataFrame(auction, columns=cols)
df1 = df1.auction.astype(int)

cars['price'] = cars['winningbid'].fillna(cars['buy_it_now_price'])

cars.reset_index(drop=True, inplace=True)
df1.reset_index(drop=True, inplace=True)

cars = pd.concat([cars, df1], axis=1,ignore_index=False)

# Clean up prices
cars.price = cars.price.str.strip('US $')
cars.price = cars.price.str.replace(',','')
cars.price = pd.to_numeric(cars.price)

# Reorder and drop columns
cars = cars[['title','subtitle','url','price','auction','num_bids','cats','vals']]
cars.shape

(29362, 8)

In [8]:
cars.head(1)

,title,subtitle,url,price,auction,num_bids,cats,vals
0,2015 Fiat 500 Pop,2015 fiat 500 pop only 39500 miles automatic r...,http://www.ebay.com/itm/2015-Fiat-500-Pop-/282...,6900.0,0,0.0,"[Condition:, Year:, VIN (Vehicle Identificatio...","[Used, 2015, 3c3cffar4ft657203, 39500, Automat..."

In [9]:
# Split categories out into columns and populate with values
def carlookup(index):
    ser1 = pd.Series(cars.cats[index],name='cats')
    ser2 = pd.Series(cars.vals[index],name='vals')

    result = zip(ser1,ser2)
    
    dictionary = {key:value for (key, value) in result}

    return dictionary

dicts = []
for index,row in cars.iterrows():
    dct = carlookup(index)
    dicts.append(dct)

cars['dicts'] = dicts
cars.dicts.apply(pd.Series)

cars = pd.concat([cars.drop(['dicts'], axis=1), cars['dicts'].apply(pd.Series)], axis=1)
cars.shape

(29362, 839)

#### Breaking out the lists into columns yields over 830 user-entered categories! ####
Many of these are user notes or options sublists not parsed properly from the original list of categories and values. This will be fixed when the scrapy script is updated to pull specific fields and handle sublists properly.

### Step 3: Final Column Cleanup

In [10]:
# Drop columns with more than 100 NaN values
cars = cars.dropna(thresh=100,axis=1)
cars.shape

(29362, 45)

In [11]:
# Here are the remaining columns
cars.columns

Index(['title', 'subtitle', 'url', 'price', 'auction', 'num_bids', 'cats',
       'vals', 'Body Type:', 'CALL NOW:', 'Condition:', 'Disability Equipped:',
       'Doors:', 'Drive Side:', 'Drive Type:', 'Drivetrain:',
       'Engine Description:', 'Engine:', 'Exterior Color:', 'For Sale By:',
       'Fuel Type:', 'Fuel:', 'Inspection:', 'Interior Color:', 'Make:',
       'Manufacturer Exterior Color:', 'Manufacturer Interior Color:',
       'Maximum Seating:', 'Mileage:', 'Model:', 'Number Of Doors:',
       'Number of Cylinders:', 'Number of Doors:', 'Options:',
       'Power Options:', 'Safety Features:', 'Seller Notes:', 'Sub Model:',
       'Transmission:', 'Trim:', 'VIN (Vehicle Identification Number):',
       'VIN:', 'Vehicle Title:', 'Warranty:', 'Year:'],
      dtype='object')

In [12]:
# Drop more columns manually
drop = ['cats','vals','Options:','Power Options:','Safety Features:','CALL NOW:']
for col in drop:
    try:
        cars = cars.drop(col,1)
    except ValueError:
        print('Already dropped', col)

In [13]:
# Clean up and rename columns
catnames = []
for cat in cars.columns:
    cat = cat.split()
    cat = "".join(cat)
    cat = cat.strip(':')
    cat = cat.replace('/','Or')
    cat = cat.replace(' ','')
    cat = cat.replace('(','_')
    cat = cat.replace(')','')
    cat = cat.strip('?')
    catnames.append(cat)
cars.columns = catnames

### Step 4: Create Dummy Variables

In [14]:
# BodyType categories
cars.BodyType = [x.lower() for x in cars.BodyType.astype(str)]

vans = [x for x in cars.BodyType if 'van' in x]
hatches = [x for x in cars.BodyType if 'hatch' in x]
pickups = [x for x in cars.BodyType if 'pick' in x]
twodoors = [x for x in cars.BodyType if '2 door' in x or '2 dr' in x or '2-door' in x or '2d' in x]
fourdoors = [x for x in cars.BodyType if '4 door' in x or '4 dr' in x or '4-door' in x or '4d' in x or 'four door' in x]
convertibles = [x for x in cars.BodyType if 'convert' in x]
hardtops = [x for x in cars.BodyType if 'hardt' in x or 'hard t' in x]
coupes = [x for x in cars.BodyType if 'coup' in x]
suvs = [x for x in cars.BodyType if 'sport ut' in x or 'sport/ut' in x or 'suv' in x]
ttops = [x for x in cars.BodyType if 't top' in x or 't-top' in x or 'targ' in x]
sedans = [x for x in cars.BodyType if 'sedan' in x]
wagons = [x for x in cars.BodyType if 'wagon' in x]

cars['van'] = [1 if x in vans else 0 for x in cars.BodyType]
cars['hatch'] = [1 if x in hatches else 0 for x in cars.BodyType]
cars['pickup'] = [1 if x in pickups else 0 for x in cars.BodyType]
cars['twodoor'] = [1 if x in twodoors else 0 for x in cars.BodyType]
cars['fourdoor'] = [1 if x in fourdoors else 0 for x in cars.BodyType]
cars['convertible'] = [1 if x in convertibles else 0 for x in cars.BodyType]
cars['hardtop'] = [1 if x in hardtops else 0 for x in cars.BodyType]
cars['coupe'] = [1 if x in coupes else 0 for x in cars.BodyType]
cars['suv'] = [1 if x in suvs else 0 for x in cars.BodyType]
cars['ttop'] = [1 if x in ttops else 0 for x in cars.BodyType]
cars['sedan'] = [1 if x in sedans else 0 for x in cars.BodyType]
cars['wagon'] = [1 if x in wagons else 0 for x in cars.BodyType]

pd.concat([cars.BodyType,cars[cars.columns[-12:]]],axis=1)
cars.shape

(29362, 51)

In [15]:
# NumberofCylinders categories
cars.NumberofCylinders = [x.lower() for x in cars.NumberofCylinders.astype(str)]

cylinders = []
for x in cars.NumberofCylinders:
    if x == '12' or 'v12' in x:
        cyl = 12
    elif x == '10' or 'v10' in x:
        cyl = 10
    elif x == '8' or 'v8' in x or 'v-8' in x or 'eight' in x or '8 cyl' in x:
        cyl = 8
    elif x == '6' or 'v6' in x or 'v-6' in x or 'six' in x or '6 cyl' in x or '6 ' in x:
        cyl = 6
    elif x == '5':
        cyl = 5    
    elif x == '4' or 'v4' in x or 'v-4' in x or 'four' in x or '4 cyl' in x:
        cyl = 4
    elif x == '3' or 'three' in x:
        cyl = 3
    elif x == '2':
        cyl = 2
    else:
        cyl = np.nan
    cylinders.append(cyl)
    
cars['cylinders'] = cylinders

pd.concat([cars.NumberofCylinders,cars[cars.columns[-1:]]],axis=1)
cars.shape

(29362, 52)

In [16]:
# DriveType categories
cars.DriveType = [x.lower() for x in cars.DriveType.astype(str)]

awd = [x for x in cars.DriveType if 
        'xi' in x
       or 'quattro' in x
       or '4wd' in x
       or 'awd' in x
       or '4x4' in x
       or '4 WD' in x
]
fwd = [x for x in cars.DriveType if 
          'front' in x
       or 'fwd' in x
         ]
rwd = [x for x in cars.DriveType if 
          'rwd' in x
       or 'rear' in x
       or 'rrd' in x
       or  x == 'r'
         ]

cars['awd'] = [1 if x in awd else 0 for x in cars.DriveType]
cars['fwd'] = [1 if x in fwd else 0 for x in cars.DriveType]
cars['rwd'] = [1 if x in rwd else 0 for x in cars.DriveType]

pd.concat([cars.DriveType,cars[cars.columns[-3:]]],axis=1)
cars.shape

(29362, 55)

In [17]:
# ForSaleBy categories
cars.ForSaleBy = [x.lower() for x in cars.ForSaleBy.astype(str)]

private = [x for x in cars.ForSaleBy if 
           'private' in x
           or 'owner' in x
           or 'dwn' in x
           or 'enth' in x
           or 'richard' in x
           or 'burzinski' in x
          and 'dealer' not in x]
dealer = [x for x in cars.ForSaleBy if 
          'dealer' in x
         or 'regist' in x
         or 'licens' in x
          or ' of ' in x
          or 'wholesale' in x
          and 'private' not in x
         ]

cars['private'] = [1 if x in private else 0 for x in cars.ForSaleBy]
cars['dealer'] = [1 if x in dealer else 0 for x in cars.ForSaleBy]

pd.concat([cars.ForSaleBy,cars[cars.columns[-2:]]],axis=1)
cars.shape

(29362, 57)

In [18]:
# Make categories
cars['Make2'] = cars.Make

cars = pd.get_dummies(cars, columns=['Make'])
cars = cars.rename(columns = {'Make2':'make'})

In [19]:
# clean up and rename columns again
catnames = []
for cat in cars.columns:
    cat = cat.split()
    cat = "".join(cat)
    cat = cat.strip(':')
    cat = cat.replace('/','Or')
    cat = cat.strip(' ')
    cat = cat.replace('(','_')
    cat = cat.replace('-','_')
    cat = cat.replace(')','')
    cat = cat.strip('?')
    catnames.append(cat)
cars.columns = catnames

In [20]:
# DriveSide category
cars.DriveSide = [x.lower() for x in cars.DriveSide.astype(str)]

leftdrive = [x for x in cars.DriveSide 
            if 'left' in x 
            or 'lhd' in x 
            or 'usa' in x 
            or 'americ' in x 
            or 'lh' in x 
            or 'l/s' in x 
            and 'right' not in x
            and 'rhd' not in x]
rightdrive = [x for x in cars.DriveSide 
            if 'right' in x 
            or 'rhd' in x 
            or 'uk' in x 
            or 'u.k.' in x 
            or 'australia' in x 
            or 'jdm' in x 
            or 'japan' in x 
            and 'left' not in x
            and 'lhd' not in x
             and 'usa' not in x
             and 'lh' not in x
             and 'l/s' not in x]

cars['leftdrive'] = [1 if x in leftdrive else 0 for x in cars.DriveSide]
cars['rightdrive'] = [1 if x in rightdrive else 0 for x in cars.DriveSide]

pd.concat([cars.DriveSide,cars[cars.columns[-2:]]],axis=1)
cars.shape

(29362, 106)

In [21]:
# Warranty categories
cars.Warranty = [x.lower() for x in cars.Warranty.astype(str)]

warranty = [x for x in cars.Warranty 
            if 'day' in x 
            or 'mile' in x 
            or 'has' in x 
            or 'month' in x 
            or 'year' in x 
            or 'factory' in x 
            and 'expired' not in x
            and 'does not have' not in x
            and 'as is' not in x]

cars['warranty'] = [1 if x in warranty else 0 for x in cars.Warranty]

pd.concat([cars.Warranty,cars[cars.columns[-1:]]],axis=1)
cars.shape

(29362, 107)

In [22]:
# Transmission categories
cars.Transmission = [x.lower() for x in cars.Transmission.astype(str)]

manual = [x for x in cars.Transmission if 'manual' in x or 'stick' in x]
auto = [x for x in cars.Transmission if 'auto' in x or 'pdk' in x or 'DCT' in x or 'matic' in x or 'cvt' in x]

cars['manual'] = [1 if x in manual else 0 for x in cars.Transmission]
cars['auto'] = [1 if x in auto else 0 for x in cars.Transmission]

pd.concat([cars.Transmission,cars[cars.columns[-2:]]],axis=1)
cars.shape

(29362, 109)

In [23]:
# Condition categories
cars.Condition = [x.lower() for x in cars.Condition.astype(str)]

used = [x for x in cars.Condition if 'used' in x]
new = [x for x in cars.Condition if 'new' in x]
cpo = [x for x in cars.Condition if 'pre-owned' in x or 'preowned' in x]

cars['used'] = [1 if x in used else 0 for x in cars.Condition]
cars['new'] = [1 if x in new else 0 for x in cars.Condition]
cars['cpo'] = [1 if x in cpo else 0 for x in cars.Condition]

pd.concat([cars.Condition,cars[cars.columns[-3:]]],axis=1)
cars.shape

(29362, 112)

In [24]:
cars.VehicleTitle.unique()

array(['Clear', 'Salvage', 'Rebuilt', 'Lemon & Manufacturer Buyback', nan,
       'Flood', 'salvage', 'N/A'], dtype=object)

In [25]:
# VehicleTitle categories
cars.VehicleTitle = [x.lower() for x in cars.VehicleTitle.astype(str)]

title_clear = [x for x in cars.VehicleTitle if 'clear' in x]
title_salvage = [x for x in cars.VehicleTitle if 'salvage' in x]
title_rebuilt = [x for x in cars.VehicleTitle if 'rebuilt' in x]
title_flood = [x for x in cars.VehicleTitle if 'flood' in x]
title_lemon = [x for x in cars.VehicleTitle if 'lemon' in x]

title_notclear = [x for x in cars.VehicleTitle if 'salvage' in x or 'rebuilt' in x or 'flood' in x or 'lemon' in x]

cars['title_clear'] = [1 if x in title_clear else 0 for x in cars.VehicleTitle]
cars['title_salvage'] = [1 if x in title_salvage else 0 for x in cars.VehicleTitle]
cars['title_rebuilt'] = [1 if x in title_rebuilt else 0 for x in cars.VehicleTitle]
cars['title_flood'] = [1 if x in title_flood else 0 for x in cars.VehicleTitle]
cars['title_lemon'] = [1 if x in title_lemon else 0 for x in cars.VehicleTitle]

# Create category for non-clear vehicle titles
cars['title_is_clear'] = [1 if x not in title_notclear else 0 for x in cars.VehicleTitle]

pd.concat([cars.VehicleTitle,cars[cars.columns[-5:]]],axis=1)
cars.shape

(29362, 118)

In [26]:
# Years as age
currentyear = datetime.datetime.now().year

cars.Year = pd.to_numeric(cars.Year, errors='coerce')
cars['age'] = [currentyear - x for x in cars.Year]
cars['age']= cars.age.mask(cars.age == 0,0.0001)
cars = cars.rename(columns = {'Year':'year'})
cars.shape

(29362, 119)

In [27]:
## Pull years from listing title where missing from year column
# fix_years = cars[['title','year']]
# fix_years[fix_years.isnull().any(axis=1)]

In [28]:
# Mileage as float
cars.Mileage = pd.to_numeric(cars.Mileage, errors='coerce')
cars = cars.rename(columns = {'Mileage':'mileage'})
cars.shape

(29362, 119)

In [29]:
# FuelType categories
cars.FuelType = [x.lower() for x in cars.FuelType.astype(str)]

gas = [x for x in cars.FuelType if 'gas' in x or 'flex' in x or 'unlead' in x or 'prem' in x or 'regular' in x or 'octane' in x]
diesel = [x for x in cars.FuelType if 'dies' in x or 'deis' in x]
electric = [x for x in cars.FuelType if 'elec' in x]
ethanol = [x for x in cars.FuelType if 'eth' in x or 'e85' in x]
cng = [x for x in cars.FuelType if 'ng' in x]

cars['gas'] = [1 if x in gas else 0 for x in cars.FuelType]
cars['diesel'] = [1 if x in diesel else 0 for x in cars.FuelType]
cars['electric'] = [1 if x in electric else 0 for x in cars.FuelType]
cars['ethanol'] = [1 if x in ethanol else 0 for x in cars.FuelType]
cars['cng'] = [1 if x in cng else 0 for x in cars.FuelType]

pd.concat([cars.FuelType,cars[cars.columns[-5:]]],axis=1)
cars.shape

(29362, 124)

In [30]:
# Add counts of category columns to filter out non-responsive records
bodytype_list = ['van','hatch','pickup','twodoor','fourdoor','convertible','hardtop','coupe','suv','ttop','sedan','wagon']
drivetype_list = ['awd','fwd','rwd']
forsaleby_list = ['private','dealer']
driveside_list = ['leftdrive','rightdrive']
transmission_list = ['manual','auto']
condition_list = ['used','new','cpo']
vehicletitle_list = ['title_clear','title_salvage','title_rebuilt','title_flood','title_lemon']
fuel_list = ['gas','diesel','electric','ethanol','cng']

cars['bodytype_ct'] = cars[bodytype_list].sum(axis=1)
cars['drivetype_ct'] = cars[drivetype_list].sum(axis=1)
cars['forsaleby_ct'] = cars[forsaleby_list].sum(axis=1)
cars['driveside_ct'] = cars[driveside_list].sum(axis=1)
cars['transmission_ct'] = cars[transmission_list].sum(axis=1)
cars['condition_ct'] = cars[condition_list].sum(axis=1)
cars['vehicletitle_ct'] = cars[vehicletitle_list].sum(axis=1)
cars['fuel_ct'] = cars[fuel_list].sum(axis=1)

cars.shape

(29362, 132)

In [31]:
# Drop more columns (Make & Model excluded for now)
drop = ['BodyType','Condition','DisabilityEquipped','Doors','DriveSide','DriveType', 
'Drivetrain', 'EngineDescription','ExteriorColor', 'ForSaleBy', 'FuelType', 'Fuel',
'Engine','InteriorColor','ManufacturerExteriorColor','Inspection', 'MaximumSeating',
'ManufacturerInteriorColor', 'NumberofCylinders',
'NumberofDoors', 'SellerNotes', 'SubModel', 'Transmission','Trim',
'VIN_VehicleIdentificationNumber', 'VIN', 'VehicleTitle', 'Warranty','NumberOfDoors']

for col in drop:
    try:
        cars = cars.drop(col,1)
    except ValueError:
        print('Already dropped', col)
        
cars = cars.rename(columns = {'Model':'model'})

In [32]:
cars.to_pickle('/Users/marc/Github/ebay_motors/regression_viz/cars_clean.pkl')

In [33]:
cars.head()

,title,subtitle,url,price,auction,num_bids,mileage,model,year,van,...,ethanol,cng,bodytype_ct,drivetype_ct,forsaleby_ct,driveside_ct,transmission_ct,condition_ct,vehicletitle_ct,fuel_ct
0,2015 Fiat 500 Pop,2015 fiat 500 pop only 39500 miles automatic r...,http://www.ebay.com/itm/2015-Fiat-500-Pop-/282...,6900.0,0,0.0,39500.0,500,2015.0,0,...,0,0,1,1,1,1,1,1,1,1
1,2009 Cadillac CTS,2009 Cadillac CTS,http://www.ebay.com/itm/2009-Cadillac-CTS-/322...,5100.0,1,53.0,116000.0,CTS,2009.0,0,...,0,0,1,1,1,1,1,1,1,1
2,2008 GMC Savana LS,2008 LS Used 5.3L V8 16V Automatic RWD Minivan...,http://www.ebay.com/itm/2008-GMC-Savana-LS-/27...,9500.0,0,0.0,115123.0,Savana,2008.0,1,...,0,0,1,1,1,0,1,1,1,1
3,1985 Cadillac Eldorado,1985 Cadillac Eldorado Biarritz 2 Door Coupe,http://www.ebay.com/itm/1985-Cadillac-Eldorado...,3500.0,1,1.0,129588.0,Eldorado,1985.0,0,...,0,0,0,0,0,0,0,1,1,0
4,1987 Alfa Romeo Spider,alfa romeo,http://www.ebay.com/itm/1987-Alfa-Romeo-Spider...,4250.0,1,3.0,100113.0,Spider,1987.0,0,...,0,0,1,1,1,0,1,1,1,1